html, body {
    margin: 0px;
    padding: 0px;
    font-size: 0px;
 
    
}
.navigation{

    color: beige;
    height: 50px;
    font-family: 'Pacifico', cursive;
}
.navigation ul {
margin-top: 0px;
background-color: rgb(253, 99, 81);
height: 50px;
list-style: none;
text-align: right;

}

.navigation li {
display: inline-block;
padding-left: 30px;
padding-right: 30px;
line-height: 50px;
font-size: 16px;

}
.front span{
    color: antiquewhite;
}
.front div{
    display: inline-block;
}

.profile-pic img {
    width: 350px;
    border-radius: 400px;
    margin-top: 60px;
    text-align: center;
 
}


.profile-pic {
    padding-left: 100px;
  
}
.profile-title {
    padding-left: 100px;
    vertical-align: top;
    margin-top: 200px;
   

}
.profile-title h1 {
    font-size: 60px;
    margin-top:20px;
    line-height: 5px;
    
}
.profile-title h2 {
    font-size: 20px;
    font-family: 'Pacifico', cursive;
    margin-top: -10px;
}