html, body {
    margin: 0px;
    padding: 0px;
}

.navigation ul {
background-color: black;
color: white;
list-style: none;
text-align: right;
}

.navigation li {
display: inline-block;
padding-left: 30px;
padding-right: 30px;
}
